/.emacs.desktop
/.emacs.desktop.lock
/.init.el.swp
/.mc-lists.el
/.org-id-locations
/ido.last
/init.el~
/init_181215.el
/myinit.el
/myinit.org~
/recentf
/session.10be997291a898e1db153708009262680700000011320060
/recentf~
/Org-mode/*
/auto-save-list/*
/backups/*
/elpa/*
/url/*
/snippets/*